.contactUs-main-div{
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right,rgba(64, 5, 88, 0.911),rgba(188, 161, 192, 0.979));
    padding-bottom: 2rem;
}
.ContactUs-content-text-div{
    background-color: #722D90;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 3px 1px;
}
.contact-us-heading1{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.contact-us-heading1 h1{
    color: white;
    padding-top: 1rem;
    font-size: 45px;
    font-weight: 500;
}
.contact-us-heading2{
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.contact-us-heading2 h3{
    color: white;
    font-weight: 400;
    opacity: 0.9;
    font-size: 35px;
}
.locationdiv{
    color: white;
    padding: 2px;
    margin-right: 10%;
}
.contactUs-content-flex{
    display: flex;
    color: #ffffff;
    width: 100%;
    justify-content: space-between;
}
.contactUs-content-flex-div1{
    text-align: left;
}
.contactUs-content-flex-div2{
    text-align: left;
}
.contactUs-content-flex-div1 p{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.contactUs-content-flex-div2 p{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.locationdiv img{
    height: 80px;
    width: 80px;
}
.lll{
    margin: 1rem;
}
.lll img{
    height: 20px;
    width: 20px;
}
.form-div-contact-us{
    width: 90%;
    margin: 0 auto;
    background-color: #BF5CCD;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 3px 1px;
}
.form-div1{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
.form-div2{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
.form-div1 input{
    height: 2rem;
    width: 45%;
    border-radius: 5px;
    border: 1px solid grey;
}
.form-div2 input{
    height: 2rem;
    width: 45%;
    border-radius: 5px;
    border: none;
    border: 1px solid grey;
}
.form-div3{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
}
.form-div3 textarea{
    width: 95%;
    border-radius: 5px;
}
.ContactUs-Button-div{
    width: 76%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.contact-us-empty-div{
    width: 80%;
}
.ContactUs-Button-div-button{
    width: 20%;
}
.jklkkk{
    width: 100% !important;
}
.ddd{
    position: relative !important;
    height: 80px;
    background-image: linear-gradient(to right,rgba(64, 5, 88),rgba(198, 64, 218));
}
@media (max-width:600px){
    .locationdiv{
        display: none;
    }
}
@media (max-width:405px){
    .contactUs-content-flex{
        display: block;
        padding-bottom: 0.4rem;
    }
}