/* body{
    overflow-y: hidden;
} */
.alumini-main-div{
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    background-image: linear-gradient(to right,rgb(39, 2, 53),rgb(189, 137, 197)); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}
.alumini-main-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
}
.alumini-main-text-div-inner{
    position: absolute;
    top: 45%;
    width: 50%;
    margin: 2rem;
}
.alumini-main-text-div-inner h1{
    color:white;
    text-align: justify;
    padding: 0 !important;
    line-height: 2.5rem;
    margin: 0 !important;
    font-weight: 500;
}
.alumini-main-text-div-inner p{
    padding: 0 !important;
    margin: 0 !important;
    text-align: justify;
    color: white;
    font-size: 1.2rem;
    opacity: 0.8;
    width: 80%;
}
.alumini-main-text-div-inner-head{
    margin-bottom: 1.5rem;
}
.oooo{
    width: 90%;
    margin: 3rem auto;
}
.uk-card{
    border-radius: 10px !important;
}
.uk-card-body{
    margin: 0 !important;
    padding: 1rem !important;
    height: 50% !important;
    /* background: rgb(204,19,223);
    background: linear-gradient(90deg, rgba(204,19,223,1) 0%, rgba(157,4,246,1) 42%, rgba(0,212,255,1) 100%); */
}
.uk-card-media-top{
    height: 50% !important;
}
.uk-card-media-top img{
    height: 20vh !important;
    object-fit: cover;
    border-radius: 50% !important;
    width: 10vw !important;
    margin-top: 1rem;
}
.uk-card-body h3{
    margin-bottom: 1rem;
    padding: 0 !important;
    
}
.uk-card-title{
    text-align: left;
    font-weight: 600 !important;
}
.uk-card-body p{
    text-align: justify;
    margin-top: 0;
}
.uk-card-media-top img{
    border-radius: 10px ;
}
