.home-main-div{
    height: 100vh;
    position: relative;
    /* background-color: #39b6d5; */
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to right,rgba(64, 5, 88, 0.911),rgba(198, 64, 218, 0.979));
    overflow-y: hidden;
}
.llink{
    color: white !important;
    font-weight: 600;
}
svg{
    position: absolute;
    bottom: 0;
    left: 0;
}
.home-main-div-flex{
    height: 55vh;
    /* border: 1px solid red;  */
    width: 100%;
    position: absolute;
    top: 18%;
    margin: 0 auto;
    display: flex;

}
.home-main-div-flex-text{
    height: 100%;
    /* border: 1px solid blue; */
    display: grid;
    place-items: center;
    width: 50%; 
    margin-left: 3rem;
}
.home-main-div-flex-image{
    /* border: 1px solid blue;  */
    height: 100%;
    width: 50%;
}
.home-main-div-flex-text-inner{
    width: 95%;
    margin: 0 auto;
    text-align: left;
    animation: 1s ease-out 0s 1 slideInFromTop;
    /* border: 1px solid green;  */
}

.home-main-div-flex-text h1{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    /* border: 1px solid black; */
    margin: 0;
    padding: 0 !important;
    margin-bottom: 1rem;
    color: white;
    opacity: 0.8;
}
.home-main-div-flex-text p{
    margin: 0;
    padding: 0 !important;
    /* border: 1px solid red; */
    width: 85%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    line-height: 1.8rem;
    margin-top: 2rem;
    color: white;
    opacity: 0.6;
    font-size: 1.2rem;
}

.home-main-div-flex-text-inner button{
    /* display: block;
    height: 2rem; */
    background: transparent;
    border: 1px solid lightgray;
    margin-top: 1rem;
    /* width: 20%;  */
    color: white;
    opacity: 0.7;
    font-size: 1.4rem;
    font-weight: 100;
    font-family: sans-serif;
    padding: 0.2rem;
    font-size: 1.2rem;
}
.home-main-div-flex-text-inner button:hover{
    border: 1px solid white;
    opacity: 0.8;
    transition: 1s;
}
.home-main-div-flex-text-inner button:focus{
    border: 1px solid white;
    opacity: 0.8;
}  
.home-main-div-flex-image {
    height: 100%;
    width: 50%;
    position: relative;
}




.login-heading{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    opacity: 0.9;
}
.login-heading h1{
    color: white;
    font-size: 2rem;
}
.login-form{
    position: absolute;
    top: 50%; 
    padding: 5px;
    left: 50%;
    transform: translateX(-35%) translateY(-50%);
    /* transform: translateY(-50%); */
    width: 50%;
    background-image: radial-gradient(rgba(99, 23, 132, 0.9),rgba(163, 23, 184,0.7));
    border-radius: 10px;
}
.frmldiv{
    width: 100%;
    margin: 2rem auto;
}
.frmldiv input{
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: none;
}
.frmldiv input:focus{
    outline: 3px transparent;
    box-shadow: 0px 0px 4px 2px rgb(182, 152, 196);
}
.frmldiv button{
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: none;
}
.frmldiv-flex{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.llink{
    font-size: 12px;
}
.llink:hover{
    color: rgb(108, 187, 214) !important;
    transition: 0.5s ease-in;
}

@keyframes slideInFromTop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .home-sec-text-div{
    text-align: left;
  }
  .home-sec-img-div{
    height: 100%;
  }
  .home-sec-text-div p{
    text-align: justify;
    width: 98%;
    line-height: 1.9rem;
    font-size: 1.2rem;
  }
  .home-section1{
    width: 100%;
    margin: 0 auto;
    margin-top: 0rem;
  }
  .home-section1 img{
    border-radius: 5px;
    height: 100% !important;
    object-fit: cover !important;
  }
  .home-section1 h1{
    font-weight: 600;
    margin-bottom: 2rem;
  }
